@model ProductAddViewModel

<section>
    <form asp-controller="Home" asp-action="EditElement">
        <section>
            <label asp-for="Product.Id"></label>
            <input asp-for="Product.Id" style="background-color: darkgray" readonly />
        </section>
        <section>
            <label asp-for="Product.Name"></label>
            <input asp-for="Product.Name" />
        </section>
        <section>
            <label asp-for="Product.Description"></label>
            <input asp-for="Product.Description" />
        </section>
        <section>
            <label asp-for="Product.Price"></label>
            <input asp-for="Product.Price" />
        </section>
        <section>
            <label asp-for="Product.Discount"></label>
            <input asp-for="Product.Discount" />
        </section>
        <section>
            <button class="btn btn-primary" type="submit">Submit</button>
        </section>
    </form>

</section>